  <div class="details" data-id={{id}}>
      <img
        src="https://image.tmdb.org/t/p/original{{poster_path}}"
        alt="{{title}}"
        class="details__img"
      ></img>
      <div class="details__information">
        <h2 class="details__titile">{{title}}</h2>
        <ul class="details__list">
          <li class="details__item">
            <p class="details__name">Vote / Votes</p>
            <p class="details__data details__scores">
              <span class="details__rating details__rating--orange">{{vote_average}}</span> /
              <span class="details__rating">{{vote_count}}</span>
            </p>
          </li>
          <li class="details__item">
            <p class="details__name">Popularity</p>
            <p class="details__data">{{popularity}}</p>
          </li>
          <li class="details__item">
            <p class="details__name">Original title</p>
            <p class="details__data details__data--upper">{{title}}</p>
          </li>
          <li class="details__item">
            <p class="details__name">Genre</p>
            {{#each genres}}
            <span class="details__data">{{this.name}}</span>
            {{/each}}
          </li>
        </ul>
        <h3 class="details__about">About</h3>
        <p class="details__text">
         {{overview}}
        </p>
        <div class="details__box">
          <button type='button' class="details__btn">Add to watched</button>
          <button type='button' class="details__btn">Add to queue</button>
        </div>
      </div>
    </div>